#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.task-container {
  text-align: center;
  margin-top: 50px;
}

.input-text {
  width: 200px;
  padding: 8px;
  margin-left:  20px;
  margin-right: 20px;

}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  justify-content: space-between; /* Aligns the task and icon on opposite sides */
  align-items: center; /* Vertically centers the text and icon */
}

p {
  display: inline;
  cursor: pointer;
  margin-left: 10px; /* Adds space between the task text and trash icon */
}

.fa-trash {
  margin-left: 5px; /* You can adjust this value to add space between the icon and text */
  cursor: pointer;
}
.fa-pen-to-square{
  margin-left: 10px;
  cursor: pointer;
}
button{
  background: #ffe3ea;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  padding: 8px;
  width: 150px;
  cursor: pointer;
}

.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  background: white;
  border: 1px solid #ddd;
  width: 145px;
}

.dropdown ul li {
  padding: 8px;
  width : 90%;
  cursor: pointer;
}

.dropdown ul li:hover {
  background: #f0f0f0;
}

.custom-calendar {
  width: 250px; 
  /* max-width: 100%; */
  font-size: 14px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.react-calendar__navigation button {
  font-size: 14px;
  padding: 5px;
}

.react-calendar__tile {
  padding: 5px;
}

.react-calendar__tile:hover {
  background-color: #e6e6e6;
}

.react-calendar__tile--active {
  background-color: #007bff;
  color: white;
}